{% extends '@ProntoMobile/base.html.twig' %}

{% block body %}
    {% include '@ProntoMobile/components/loader.html.twig' with {'initial': true} %}

    {% include '@ProntoMobile/components/pageTitle.html.twig' with {entity: 'relationship', exists: relationship != null, backButton: path('pronto_mobile_collection_relationships', {identifier: identifier})} %}

    <div class="row card">
        <div class="card-content">
            {{ form_start(form) }}

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.name) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.identifier) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.relatedCollection) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.type) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.editableForRole) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_row(form.includeInJsonListView) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <button type="submit" class="btn btn-primary" formnovalidate>{{ 'buttons.save'|trans }}</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        let canCreateIdentifier = {{ relationship == null ? 'true' : 'false' }};
    </script>

    <script type="text/javascript" src="{{ mix('/js/collections/relationships.js') }}"></script>
{% endblock %}
