<div id="modal-confirm-with-input-deletion" class="modal">
    <div class="modal-content">
        <h4>{{ 'confirm.title'|trans }}</h4>
        <p>
            {% trans with {'%entity%': entity|trans, '%input%': value} %}confirm.with_input{% endtrans %}<br><br>
        </p>

        <div class="input-field">
            <input placeholder="{{ (entity ~ 'Name')|trans|capitalize }}" id="value" type="text" class="validate">
            <input type="hidden" id="entity_id" value="{{ id }}">
            <input type="hidden" id="actual_value" value="{{ value }}">
            <input type="hidden" id="post_url" value="{{ postUrl }}">
            <input type="hidden" id="redirect_url" value="{{ redirectUrl }}">
            <label for="name">{{ (entity ~ 'Name')|trans|capitalize }}</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close btn-flat">{{ 'buttons.cancel'|trans }}</a>
        <a href="#" id="modal-deletion-button" class="modal-action waves-effect waves-red btn red">{{ 'buttons.delete'|trans }}</a>
    </div>
</div>