{% extends '@ProntoMobile/authentication.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <h1><img class="mobile" src="uploads/customers/images/{{ customer.logo }}" alt="{{ customer.companyName }}"/></h1>

                <div class="card">
                    {% include "@ProntoMobile/components/loader.html.twig" %}
                    <div class="card-content">
                        <h1><span>/</span> {{ 'authentication.reset_password'|trans }}</h1>

                        {% if resetting %}
                            {{ form_start(form) }}

                            {{ form_row(form.password) }}

                            <div class="right-align">
                                <button type="submit" class="btn btn-success activate-loader" formnovalidate>{{ 'authentication.reset_password'|trans }}</button>
                            </div>

                            {{ form_end(form) }}
                        {% else %}
                            {{ 'user.reset_password_success'|trans }}.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
