<div class="row">
    <div class="col s12">
        <label for="{{ property.identifier }}-address" {% if property.required == true %}class="required"{% endif %}>{{ property.name }}</label>

        {% set address = attribute(attribute(entry.data, property.identifier), 'address') is defined ? attribute(attribute(entry.data, property.identifier), 'address') : '' %}

        <input type="text" class="coordinates-address" name="{{ property.identifier }}-address" placeholder="{{ 'collection.property.type.address'|trans }}" value="{{ address }}">
    </div>
    <div class="col s6">
        {% set latitude = attribute(attribute(entry.data, property.identifier), 'latitude') is defined ? attribute(attribute(entry.data, property.identifier), 'latitude') : '' %}

        <input type="text" class="coordinates-latitude" name="{{ property.identifier }}-latitude" placeholder="{{ 'collection.property.type.latitude'|trans }}" value="{{ latitude }}">
    </div>
    <div class="col s6">
        {% set longitude = attribute(attribute(entry.data, property.identifier), 'longitude') is defined ? attribute(attribute(entry.data, property.identifier), 'longitude') : '' %}

        <input type="text" class="coordinates-longitude" name="{{ property.identifier }}-longitude" placeholder="{{ 'collection.property.type.longitude'|trans }}" value="{{ longitude }}">
    </div>
    <div class="col s12">
        <div class="location-picker" style="height: 300px;"></div>
    </div>
</div>