{% if property.translatable == false %}
    {% set propertyValue = attribute(entry.data, property.identifier) %}

{% elseif attribute(attribute(entry.data, property.identifier), language) is defined %}
    {% set propertyValue = attribute(attribute(entry.data, property.identifier), language) %}

{% else %}
    {% set propertyValue = property.config.defaultValue %}

{% endif %}

<div class="row">
    <div class="col s12">
        <label for="{{ language ~ ':' ~ property.identifier }}" {% if property.required == true %}class="required"{% endif %}>{{ property.name }}</label>

        {% set class = property.type.config.defaultValue.class is defined ? property.type.config.defaultValue.class : '' %}

        {% if 'codeflask' in class and is_granted_minimal(property.editableForRole) %}
            <div class="{{ class }}" data-name="{{ language ~ ':' ~ property.identifier }}" data-language="html">{{ propertyValue is defined ? propertyValue : property.config.defaultValue }}</div>
        {% else %}
            <textarea name="{{ language ~ ':' ~ property.identifier }}"
                      class="materialize-textarea {{ class }}" id="{{ property.name }}"
                      {% if not is_granted_minimal(property.editableForRole) %}readonly="readonly"{% endif %}>{{ propertyValue }}</textarea>
        {% endif %}
    </div>
</div>
