{% extends '@ProntoMobile/base.html.twig' %}

{% block body %}

    {% include '@ProntoMobile/components/toolbar.html.twig' with {pageTitle: 'segments'|trans|capitalize, newObjectUrl: 'pronto_mobile_notification_segments_edit', delete: pageHelper.getList()|length > 0} %}

    {% if pageHelper.getList()|length > 0 %}
        <div class="card">
            <div class="card-content">
                <form action="{{ path('pronto_mobile_notification_segments_delete') }}" method="POST">
                    <table class="table striped bordered highlight responsive-table">
                        <thead>
                        <tr>
                            <th width="60" class="has-checkbox">
                                <input type="checkbox" id="checkAll">
                                <label for="checkAll"></label>
                            </th>
                            <th width="50">#</th>
                            <th>{{ 'push_notification.segment.name'|trans|capitalize }}</th>
                            <th>{{ pageHelper.createSortableLink('devices'|trans|capitalize, 'deviceCount') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, segment in pageHelper.getList() %}
                            <tr>
                                <td class="has-checkbox">
                                    <input type="checkbox" id="segmentsCheckbox{{ segment.id }}" name="segments[]" value="{{ segment.id }}">
                                    <label for="segmentsCheckbox{{ segment.id }}"></label>
                                </td>
                                <td>
                                    {{ pageHelper.getRowNumber(key) }}
                                </td>
                                <td>
                                    <a href="{{ path('pronto_mobile_notification_segments_edit', {'id': segment.id}) }}" class="regular">
                                        {{ json_translator.getTranslation(segment.name) }}
                                    </a>
                                </td>
                                <td>{{ segment.device_count }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        {% include '@ProntoMobile/components/pagination.html.twig' with {pageHelper: pageHelper} %}
    {% else %}
        {% include '@ProntoMobile/components/alert.html.twig' with {type: 'info', collection: 'segments'} %}
    {% endif %}

    {% include '@ProntoMobile/components/confirm.html.twig' with {postUrl: path('pronto_mobile_users_delete')} %}
{% endblock %}