{% extends '@ProntoMobile/authentication.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m8 l6 offset-m2 offset-l3">
                <h1><img src="{{ mix('/images/logo-login.png') }}" alt="Pronto"/></h1>

                <div class="card">
                    {% include "@ProntoMobile/components/loader.html.twig" %}
                    <div class="card-content">
                        <h1 class="has-back-button"><a href="{{ path('pronto_mobile_login') }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a><span>/</span> {{ (resetting ? 'authentication.reset_password' : 'authentication.create_password')|trans }}</h1>

                        {{ form_start(form) }}

                        {{ form_row(form.password) }}

                        <div class="right-align">
                            <button type="submit" class="btn btn-success activate-loader" formnovalidate>{{ (resetting ? 'authentication.reset_password' : 'authentication.create_password')|trans }}</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>
                {% if resetting %}
                    <a href="{{ path('pronto_mobile_login') }}">{{ 'authentication.remembered_password'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
