{% if entry == null %}
    {% set propertyValue = property.config.defaultValue %}

{% elseif property.translatable == false %}
    {% set propertyValue = attribute(entry.data, property.identifier) %}

{% elseif attribute(attribute(entry.data, property.identifier), language) is defined %}
    {% set propertyValue = attribute(attribute(entry.data, property.identifier), language) %}

{% else %}
    {% set propertyValue = property.config.defaultValue %}

{% endif %}

<div class="row">
    <div class="col s12">
        {% set label = property.config.label is defined and property.config.label != '' ? property.config.label : property.name %}
        {% set language = language ?? '' %}

        <label for="{{ language ~ ':' ~ property.identifier }}" {% if property.required == true %}class="required"{% endif %}>{{ label }}</label>
        <input type="text"
               name="{{ language ~ ':' ~ property.identifier }}"
               id="{{ language ~ ':' ~ property.identifier }}"
               {% if not is_granted_minimal(property.editableForRole) %}readonly="readonly"{% endif %}
               value="{{ propertyValue }}">
    </div>
</div>
