{% if entry == null %}
    {% set propertyValue = property.config.defaultValue %}

{% elseif property.translatable == false %}
    {% set propertyValue = attribute(entry.data, property.identifier) %}

{% elseif attribute(attribute(entry.data, property.identifier), language) is defined %}
    {% set propertyValue = attribute(attribute(entry.data, property.identifier), language) %}

{% else %}
    {% set propertyValue = property.config.defaultValue %}

{% endif %}

<div class="row">
    <div class="col s12">
        <label for="{{ language|default('') ~ ':' ~ property.identifier }}" {% if property.required == true %}class="required"{% endif %}>{{ property.name }}</label>
        <input type="url"
               name="{{ language|default('') ~ ':' ~ property.identifier }}"
               id="{{ language|default('') ~ ':' ~ property.identifier }}"
               {% if not is_granted_minimal(property.editableForRole) %}readonly="readonly"{% endif %}
               value="{{ propertyValue }}">
    </div>
</div>
