{% extends '@ProntoMobile/modal.html.twig' %}

{% block title %}
    {{ 'collection.relationship.edit'|trans|capitalize }}
{% endblock %}

{% set action = path('pronto_mobile_collection_entry_relationships_save', {entry: entry.id, relationship: relationship.id}) %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <label for="search">{{ 'collection.relationship.search_entry'|trans }}</label>
            <input type="text" name="search" id="search">
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table class="table striped bordered highlight responsive-table">
                <thead>
                <tr>
                    <th width="60" class="has-checkbox">
                        {% if relationship.type.many %}
                            <input type="checkbox" id="checkAllRelationships">
                            <label for="checkAllRelationships"></label>
                        {% endif %}
                    </th>
                    <th width="50">#</th>

                    {% for property in properties %}
                        <th>{{ property.name }}</th>
                    {% endfor %}

                    <th>Actief</th>
                </tr>
                </thead>
                <tbody>
                {% for key, entry in entries %}
                    <tr>
                        <td class="has-checkbox">
                            <input type="checkbox" id="entryCheckbox{{ entry.id }}" name="entries[]" value="{{ entry.id }}" {% if entry.id in mapped %}checked{% endif %}>
                            <label for="entryCheckbox{{ entry.id }}"></label>
                        </td>
                        <td>
                            {{ key + 1 }}
                        </td>

                        {% for property in properties %}
                            {% set value = entry.data[property.identifier] is defined ? entry.data[property.identifier] : '' %}

                            <td {% if property.entryTitle %}class="entry-title"{% endif %}>{{ entry_value_parser.parse(property, value) }}</td>
                        {% endfor %}

                        <td>{{ entry.active ? 'buttons.yes'|trans : 'buttons.no'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <button type="submit" class="btn" formnovalidate>{{ 'buttons.save'|trans }}</button>
{% endblock %}

{% block modalScripts %}
    {{ parent() }}

    <script type="text/javascript">
       let manyEntries = {{ relationship.type.many ? 'true' : 'false' }};
    </script>

    <script type="text/javascript" src="{{ mix('/js/collections/relationships.js') }}"></script>
{% endblock %}
